<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-link2">
	<section class="c-mainvisual c-mainvisual--subpage">
        <div class="l-container">
            <ul class="c-breadcrumb" >
                <li><a href="../"><img src="../assets/img/ic_home.png" alt=""> HOME</a></li>
                <li>Link2</li>
            </ul>
        </div>
    </section>

    <div class="l-container">
        <div class="c-title2">
            <div class="c-title2__inner">
                <h2>LINK 2</h2>
            </div>
        </div>
    </div>

    <section class="p-link2--1">
        <div class="l-container">
            <h3 class="c-title3">Title 1</h3>
            <p class="mt20">Text text text text text text text text <span class="u-red">text text text text text text text</span> text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text <span class="u-red">text text text text text text text</span> text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>
            
            <h4 class="c-title4">Text text text text text text text text text text</h4>
            <p class="mt10">Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>

            <div class="c-note-color1 mt15">
                <img src="../assets/img/ic_note_1.png" alt="">
                Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
                <img src="../assets/img/ic_note_2.png" alt="">
            </div>
        </div>
    </section>

    <section class="p-link2--2">
        <div class="l-container">
            <h3 class="c-title3">Title 2</h3>
            <p class="mt20">Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>

            <h4 class="c-title4 mt30">Text text text text text text text text text text</h4>
            <p class="mt10">Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>

            <h4 class="c-title4 mt30 c-title4--img1">Text text text text text text text text text text</h4>
            <p class="mt10">Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text textt </p>

            <div class="c-listText">
                <ul>
                    <li>Text text text text</li>
                    <li>Text text text text text text text</li>
                    <li>text text text text
                        <ul class="c-listText--sub1">
                            <li>Text text text text</li>
                            <li>Text text text text text text text</li>
                            <li>Text text text text</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <h4 class="c-title4 mt30 c-title4--img2">Text text text text text text text text text text</h4>
            <p class="mt10">Text text text text text text text text text text text text text text text text text text</p>
            <div class="c-note-color2 mt15">
                <img src="../assets/img/ic_note_11.png" alt="">
                Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
                <img src="../assets/img/ic_note_12.png" alt="">
            </div>

            <p class="mt30">Text text text text text text text text text text text text text text text text text text text text text text. <br>Text text text text text text text text text text text text text text text text text. <br>Text text text text text text text text text text text text text text text text text text text text text text text text text text.</p>

            <div class="c-table1">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>title</th>
                            <th>title</th>
                            <th>title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="u-gray">title</th>
                            <td>texttexttext</td>
                            <td>texttexttext</td>
                            <td>texttexttext</td>
                        </tr>
                        <tr>
                            <th class="u-gray">title</th>
                            <td>texttexttext</td>
                            <td>texttexttext</td>
                            <td>texttexttext</td>
                        </tr>
                        <tr>
                            <th class="u-gray">title</th>
                            <td>texttexttext</td>
                            <td>texttexttext</td>
                            <td>texttexttext</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    

    <div class="c-breadcrumb__bor">
        <div class="l-container">
            <ul class="c-breadcrumb c-breadcrumb--m00" >
                <li><a href="../"><img src="../assets/img/ic_home.png" alt=""> HOME</a></li>
                <li>Link2</li>
            </ul>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>