/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1{
    margin: 20px 0;
	table {
        border-top: 1px solid #CCC;
        border-left: 1px solid #CCC;
        width: 100%;
        border-collapse: collapse;
        th, td{
            border-right: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
            padding: 10px 0; 
        }
    }
}