@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 20px 0 20px 0;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
}

.c-header .bder {
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 20px;
}

/* Logo
------------------------------------------------------------*/
/* Main menu
------------------------------------------------------------*/
.c-gnav li {
  display: inline-block;
}

.c-gnav li + li {
  margin-left: 20px;
}

.c-gnav a {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.c-gnav a:focus {
  color: red;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  padding: 20px 20px;
  color: #000;
}

.c-footer .box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.c-footer .box__link {
  width: 30%;
}

.c-footer .box__link:nth-of-type(2) ul li::before {
  background: url("../img/ic_ft_2.png") left center no-repeat;
  width: 5px;
  height: 7px;
}

.c-footer .box__link:nth-of-type(3) ul li {
  padding-left: 20px;
}

.c-footer .box__link:nth-of-type(3) ul li::before {
  background: url("../img/ic_ft_3.png") left center no-repeat;
  width: 11px;
  height: 11px;
}

.c-footer .box__link h3 {
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.c-footer .box__link ul li {
  position: relative;
  padding-left: 15px;
}

.c-footer .box__link ul li::before {
  position: absolute;
  content: "";
  background: url("../img/ic_ft_1.png") left center no-repeat;
  background-size: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 5px;
  height: 6px;
}

.c-footer .copy_r {
  border-top: 1px solid #e3e3e3;
  margin-top: 25px;
  padding-top: 20px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb__bor {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
}

.c-breadcrumb {
  margin: 10px 0 30px 0;
  padding: 5px 0;
  display: -webkit-box;
  display: flex;
}

.c-breadcrumb--m00 {
  margin: 0;
}

.c-breadcrumb li:first-of-type::before {
  content: "";
  margin: 0;
  padding-left: 0;
}

.c-breadcrumb li:first-of-type a:active {
  text-decoration: underline;
}

.c-breadcrumb li::before {
  content: "";
  margin: 0 10px;
  padding-left: 6px;
  color: #000000;
  font-size: 14px;
  background: url("../img/ic_ft_2.png") right center no-repeat;
  background-size: 100%;
  width: 5px;
  height: 7px;
}

.c-breadcrumb li a {
  font-size: 1.4rem;
  font-weight: 500;
}

.c-breadcrumb li a img {
  vertical-align: middle;
  margin-top: -5px;
}

/* layout
------------------------------------------------------------*/
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  min-width: 1000px;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

section {
  padding: 50px 0 40px;
}

p {
  line-height: 1.5;
}

.l-container {
  width: 1000px;
  margin: 0 auto;
}

.box2 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}

.box2__feat {
  width: 30%;
  margin-right: 50px;
  margin-bottom: 45px;
}

.box2__feat:nth-of-type(3n - 3) {
  margin-right: 0;
}

.box2__feat h4 {
  margin: 10px 0;
}

.box2__feat h4 span {
  padding: 0 20px;
  display: inline-block;
}

.box2__feat .text-1 {
  background: #a3d39c;
}

.box2__feat .text-2 {
  background: #ffdfdf;
}

.box2__feat .text-3 {
  background: #fff799;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn1 {
  display: inline-block;
  padding: 10px 50px;
  font-size: 1.6rem;
  border: 2px solid #fff;
  border-radius: 20px;
  line-height: 1;
}

.c-btn2 {
  background: #afafaf;
  border: 1px solid #afafaf;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.c-btn3 {
  border: 2px solid #000;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  width: 280px;
  display: block;
  border-radius: 5px;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title {
  font-size: 2.4rem;
  font-weight: bold;
  padding-left: 15px;
}

.c-title--color1 {
  background: #fff9da;
  border: 1px solid #ffd800;
  border-left: 5px solid #ffd800;
}

.c-title--color2 {
  background: #fff2f2;
  border: 1px solid #f68e56;
  border-left: 5px solid #f68e56;
}

.c-title--color3 {
  background: #ebebeb;
  border: 1px solid #6dcff6;
  border-left: 5px solid #6dcff6;
}

.c-title2 {
  border: 1px solid #000;
  background: #fff;
  color: #000;
  padding: 10px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

.c-title3 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #000;
  border-left: 5px solid #000;
  padding: 5px 0 5px 20px;
}

.c-title4 {
  font-size: 1.6rem;
  position: relative;
  padding-left: 25px;
  font-weight: 500;
}

.c-title4::before {
  position: absolute;
  content: "";
  background-size: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 21px;
}

.c-title-anchor {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 25px;
  font-size: 1.8rem;
  font-weight: bold;
}

.c-dev-title1, .c-dev-title2 {
  line-height: 1;
  font-size: 1.3rem;
  padding: 10px 0 10px 15px;
  margin: 40px 0 20px 0;
  border-radius: 2px;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-listText {
  padding: 20px;
}

.c-listText ul {
  list-style: none;
  counter-reset: li;
}

.c-listText ul li {
  counter-increment: li;
  line-height: 2;
  font-weight: 500;
}

.c-listText ul li::before {
  content: counter(li);
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.c-listText ul li ul {
  padding-left: 30px;
}

.c-listText ul li ul li {
  position: relative;
  padding-left: 15px;
  list-style: none;
}

.c-listText ul li ul li::before {
  position: absolute;
  content: "3.1";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.c-navi1 ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.c-navi1 ul li {
  width: 300px;
}

.c-navi1 ul li a {
  text-decoration: none;
  background: #00aeef;
  color: #FFF;
  line-height: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 43px;
  border-radius: 5px;
  font-size: 1.6rem;
}

.c-navi1 ul li a:before {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  margin-right: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -4px;
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-table1 {
  margin: 20px 0;
}

.c-table1 table {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  width: 100%;
  border-collapse: collapse;
}

.c-table1 table th, .c-table1 table td {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
}

/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-note-color1 {
  border: 1px solid #11638a;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px;
  color: #11638a;
}

.c-note-color2 {
  border: 1px solid #ffa0a5;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px;
  color: #ffa0a5;
}

/*
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.p-top {
  line-height: 2;
}

.p-top .c-mainvisual {
  padding: 0;
  color: #000;
}

.p-top .c-mainvisual__inner {
  position: relative;
  background: url(../img/banner.png) no-repeat center;
  background-size: cover;
  height: 360px;
}

.p-top .c-mainvisual__inner .cate {
  position: absolute;
  content: "";
  bottom: 35px;
  left: 35px;
}

.p-top .c-mainvisual h2 {
  width: 12.8rem;
  flex-basis: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  background: #ffdfdf;
  text-align: center;
  margin-bottom: 10px;
}

.p-top .c-mainvisual p {
  width: 100%;
  font-size: 2rem;
}

.p-top1 .box {
  margin: 25px 0;
}

.p-top1 .box__cate {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 15px 0;
}

.p-top1 .box__cate .img {
  width: 350px;
  position: relative;
}

.p-top1 .box__cate .img p {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 112px;
  text-align: center;
}

.p-top1 .box__cate .img .cate-1 {
  background: #fff799;
}

.p-top1 .box__cate .img .cate-2 {
  background: #a3d39c;
}

.p-top1 .box__cate .img .cate-3 {
  background: #ffdfdf;
}

.p-top1 .box__cate .content {
  width: 610px;
  position: relative;
}

.p-top1 .box__cate .content h3 {
  font-size: 1.6rem;
}

.p-top1 .box__cate .content p {
  line-height: 1.5;
}

.p-top1 .box__cate .content .c-btn2 {
  padding: 10px;
  width: 150px;
  display: block;
  margin: 0 0 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
}

.p-top1 .box .c-btn3 {
  background: #ffd800;
  margin: 25px auto 0 auto;
  text-align: center;
}

.p-top2 .c-btn3 {
  background: #f68e56;
  margin: 25px 0 0 auto;
  text-align: center;
}

.p-top3 {
  padding-bottom: 90px;
}

.p-top3 .box2__blog {
  width: 48%;
  margin-right: 40px;
  margin-bottom: 45px;
}

.p-top3 .box2__blog h4 {
  margin: 10px 0;
}

.p-top3 .box2__blog h4 span {
  padding: 0 20px;
  display: inline-block;
}

.p-top3 .box2__blog .text-1 {
  background: #a3d39c;
}

.p-top3 .box2__blog .text-2 {
  background: #ffdfdf;
}

.p-top3 .box2__blog figure img {
  width: 100%;
}

.p-top3 .box2__blog:nth-of-type(2n+2) {
  margin-right: 0;
}

.p-top3 .c-btn3 {
  width: auto;
  background: #6dcff6;
  text-align: center;
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-link1 {
  line-height: 2;
}

.p-link1 .c-mainvisual {
  padding: 0;
  color: #000;
}

.p-link1--1 p span, .p-link1--3 p span {
  text-decoration: underline;
}

.p-link1--1 {
  padding: 30px 0;
}

.p-link1--2 {
  padding: 0;
}

.p-link1--2 .box2__link2 {
  width: 23%;
  margin-right: 26px;
  margin-bottom: 45px;
}

.p-link1--2 .box2__link2:nth-of-type(4n - 4) {
  margin-right: 0;
}

.p-link1--2 .box2__link2 h4 {
  margin: 10px 0;
}

.p-link1--2 .box2__link2 h4 span {
  padding: 0 20px;
  display: inline-block;
}

.p-link1--2 .box2__link2 .text-1 {
  background: #a3d39c;
}

.p-link1--2 .box2__link2 .text-2 {
  background: #ffdfdf;
}

.p-link1--2 .box2__link2 .text-3 {
  background: #fff799;
}

.p-link1--3 .c-dev-title1 {
  font-size: 1.6rem;
  background: #ece6e6;
  color: #000;
}

.p-link1--3 .c-table1 {
  width: 490px;
}

.p-link1--3 .c-table1 thead th {
  background: #8CC152;
  color: #FFF;
  font-size: 1.4rem;
}

.p-link1--3 .c-table1 tbody th {
  font-weight: normal;
  font-size: 1.4rem;
}

.p-link1--3 .c-table1 tbody td {
  text-align: center;
  font-size: 1.4rem;
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-link2 .c-mainvisual {
  padding: 0;
  color: #000;
}

.p-link2--1 .c-title3 {
  background: #bcd5e1;
  border-left: 5px solid #11638a;
  color: #11638a;
}

.p-link2--1 .c-title4 {
  margin-top: 50px;
  color: #11638a;
}

.p-link2--1 .c-title4::before {
  background-size: 100%;
  background: url("../img/ic_ques_1.png") left center no-repeat;
}

.p-link2--2 {
  margin-bottom: 50px;
}

.p-link2--2 .c-title3 {
  background: #ffe8e9;
  border-left: 5px solid #f5989d;
  color: #f5989d;
}

.p-link2--2 .c-title4 {
  margin-top: 50px;
  color: #f5989d;
}

.p-link2--2 .c-title4::before {
  background-size: 100%;
  background: url("../img/ic_seedling.png") left center no-repeat;
}

.p-link2--2 .c-title4--img1::before {
  background: url("../img/ic_paint.png") left center no-repeat;
}

.p-link2--2 .c-title4--img2::before {
  background: url("../img/ic_ques_2.png") left center no-repeat;
}

.p-link2--2 .c-table1 thead th {
  background: #8CC152;
  color: #FFF;
  font-size: 1.4rem;
}

.p-link2--2 .c-table1 tbody th {
  font-weight: normal;
  font-size: 1.4rem;
}

.p-link2--2 .c-table1 tbody td {
  text-align: center;
  font-size: 1.4rem;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.mat {
  margin: auto !important;
}

.m00 {
  margin: 0px !important;
}

.m05 {
  margin: 5px !important;
}

.m10 {
  margin: 10px !important;
}

.m15 {
  margin: 15px !important;
}

.m20 {
  margin: 20px !important;
}

.m25 {
  margin: 25px !important;
}

.m30 {
  margin: 30px !important;
}

.m35 {
  margin: 35px !important;
}

.m40 {
  margin: 40px !important;
}

.m45 {
  margin: 45px !important;
}

.m50 {
  margin: 50px !important;
}

.m55 {
  margin: 55px !important;
}

.m60 {
  margin: 60px !important;
}

.m65 {
  margin: 65px !important;
}

.m70 {
  margin: 70px !important;
}

.m75 {
  margin: 75px !important;
}

.m80 {
  margin: 80px !important;
}

.m85 {
  margin: 85px !important;
}

.m90 {
  margin: 90px !important;
}

.mt00 {
  margin-top: 0px !important;
}

.mt05 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mr00 {
  margin-right: 0px !important;
}

.mr05 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mb00 {
  margin-bottom: 0px !important;
}

.mb05 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.ml00 {
  margin-left: 0px !important;
}

.ml05 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.u-blue {
  color: #1f53fa;
}

.u-red {
  color: #ff0000;
}

.u-orange {
  color: #ff9c00;
}

.u-gray {
  background: #ece6e6;
  color: #000;
}

.u-gray1 {
  background: #d3d7d9;
  color: #000;
}

.u-blue1 {
  background: #6dcff6;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
